<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Coursera is Cool!</title>
</head>
<body>
    <h1>Udemy is so cool! I am learning so much!</h1>
    <%= link_to 'home', welcome_home_path%>
</body>
</html>

